{{template "header.html" .}}

<div class="ui container">
    {{with $success := $.Request.FormValue "success"}}
        <div class="ui large info message">
            <div class="content">
                <div class="header">
                    {{if eq $success "added"}}
                        Property added successfully
                    {{else}}
                        {{$success}}
                    {{end}}
                </div>
                <a class="close-link" href="/property/snippet/{{$.Property.ID}}"><i class="close icon"></i></a>
            </div>
        </div>
        <div class="ui hidden divider"></div>
    {{end}}

    <div class="ui raised padded segment">
        <div class="ui huge teal dividing header">
            Tracking Code
        </div>
        <div class="ui hidden divider"></div>

        <div class="page-text">
            Adding the following HTML tracking code to your site's templates. The code should be added near the top of the &lt;head&gt; tag and <b>before any other script or CSS tags</b> so that it can be called by them when they load.
        </div>

<pre class="code">
&lt;!-- Frequency Analytics --&gt;
&lt;script&gt;
window.fa = window.fa || function() { (fa.queue = fa.queue || []).push(arguments) }
fa('create', '{{$.Property.ID}}');
fa('send', 'pageview');
&lt;/script&gt;
&lt;script async src="https://{{.Request.Host}}/analytics.js"&gt;&lt;/script&gt;
&lt;!-- Frequency Analytics --&gt;
</pre>

    </div>
</div>

{{template "footer.html" .}}
