<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="referrer" content="origin">
        <link rel="icon" href="/static/favicon.png?v={{$.Version}}">
        <link rel="apple-touch-icon" href="/static/favicon.png?v={{$.Version}}">

        <title>{{if $.Property.Name}}{{$.Property.Name}} - {{end}}Frequency Analytics</title>

        <link rel="stylesheet" type="text/css" href="/static/roboto.css?v={{$.Version}}">
        <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css?v={{$.Version}}">
        <link rel="stylesheet" type="text/css" href="/static/style.css?v={{$.Version}}">

        <script src="/static/jquery.min.js?v={{$.Version}}"></script>
        <script src="/static/semantic/semantic.min.js?v={{$.Version}}"></script>
        <script src="/static/moment.min.js?v={{$.Version}}"></script>
        <script src="/static/Chart.min.js?v={{$.Version}}"></script>
    </head>
    <body>

        <div class="borderless ui large teal inverted menu">
            <div class="ui container">
                {{if $.Backlink}}
                    <a class="item" href="{{.Backlink}}"><i class="home icon"></i></a>
                {{end}}
                <a href="/" class="active item">Frequency Analytics</a>
                
                {{if eq $.Section "signin" "forgot" "configure"}}
                    <!-- Don't show -->
                {{else}}
                    <div class="ui right dropdown item">
                        <i class="cog icon"></i>
                        <div class="menu">
                            <a href="/settings" class="item"><i class="cog icon"></i>Settings</a>
                            <a href="/help" class="item"><i class="help icon"></i>Help</a>
                            <a href="/signout" class="item confirm" data-prompt="Sign out?"><i class="sign out icon"></i>Sign out</a>
                        </div>
                    </div>

                {{end}}
            </div>
        </div>

        {{if eq $.Section "signin" "forgot"}}
            <!-- Don't show -->
        {{else}}
            {{if hasprefix $.Section "property/"}}
                <div class="ui container">
                    <div class="ui large secondary pointing stackable teal menu">
                        <a class="{{if eq $.Section "property/dashboard"}}active{{end}} item" href="/property/dashboard/{{$.Property.ID}}">Dashboard</a>
                        <a class="{{if eq $.Section "property/snippet"}}active{{end}} item" href="/property/snippet/{{$.Property.ID}}">Tracking Code</a>
                        <a class="{{if hasprefix $.Section "property/settings"}}active{{end}} item" href="/property/settings/{{$.Property.ID}}">Settings</a>
                    </div>
                </div>
            {{end}}
        {{end}}

        <div class="ui hidden divider"></div>
