{{template "header.html" .}}

<div class="ui container">
    <div class="ui padded segment">
        <h1 class="ui center aligned header">
            Frequency Analytics
            <div class="sub header">
                Open source private web analytics server
            </div>
        </h1>

        <div class="ui big list">
            <div class="item">
                <i class="large teal check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Daily Visitors
                    </div>
                    <div class="description">
                        Daily visitors to your site over time.
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large teal check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Traffic Sources
                    </div>
                    <div class="description">
                        Sources of traffic to your site by category: direct, search, social, and other.
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large teal check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Pageviews
                    </div>
                    <div class="description">
                        Hits to each page on your site.
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large teal check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Referrers
                   </div>
                    <div class="description">
                        Which websites are sending you the most traffic.
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large teal check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Platforms
                    </div>
                    <div class="description">
                        Pageviews by user operating system.
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="large teal check circle outline icon"></i>
                <div class="content">
                    <div class="header">
                        Events
                    </div>
                    <div class="description">
                        Detailed list of site events.
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden section divider"></div>

        <h2 class="ui center aligned header">License</h2>
        <p>
            MIT License
        </p>

        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>

        <p>
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
        </p>

        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>

        <div class="ui hidden section divider"></div>

        <h2 class="ui center aligned header">Source Code</h2>

        <div class="center-aligned">
            <a href="https://github.com/frequencyanalytics/frequency">Frequency Analytics on GitHub</a>
        </div>
    </div>
</div>

{{template "footer.html" .}}
